<body>
    <div class="container">
        <div class="large-image"></div>
        <h1>Name: <%=accessory.model %></h1>
        <h2>Company: <%=accessory.company %></h2>
        <h3>Color: <%=accessory.color %></h3>
        <h3 >Price: <%=accessory.price %> PKR</h3>
        <p> <%=accessory.description %></p>
        <a href="/add-cart/<%=accessory._id %>" class="butn">Add to cart</a>

        <h1>Reviews</h1>
    <div>
</body>