<body>
    <div class="container">
        <div class="large-image"></div>
        <h1>Model: <%=mobiles.model %></h1>
        <h2>Company: <%=mobiles.company %></h2>
        <h3>Color: <%=mobiles.color %></h3>
        <h3>Ram: <%=mobiles.ram %> PKR</h3>
        <h3>Rom: <%=mobiles.rom %> PKR</h3>
        <h3 >Price: <%=mobiles.price %> PKR</h3>
        <p> <%=mobiles.description %></p>
        <a href="/cart/<%=mobiles._id %>" class="butn">Add to cart</a>

        <h1>Reviews</h1>
    <div>
</body>